git+https://github.com/huggingface/transformers # We need this for training, until 4.32 is out
accelerate
sentencepiece
fastapi
uvicorn
pydantic
typing_extensions==4.5.0 # Pydantic caused issues, so this fixes that issue
bitsandbytes # For 8bit support